
#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
}
#BtnContainer{
    text-align: center;
}
.buttons{
    padding: 10px, 20px;
    font-size: 1.5em;
    color:blueviolet;
    background-color: brown;
    border-radius: 5px;
    cursor: pointer;
}
.buttons :hover{
    background-color: blanchedalmond;
}